<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>ASTIOITA</title>
	</head>

	<body>
		<header>
			<h1>ASTIOITA</h1>
			<em>Asiakkaan toiveiden ja ilmenneiden ongelmien ilmoitus- ja tarkkailualusta</em>
			<nav>
				<ul>
					<li><a href="/astiat">Astialista</a></li>
				</ul>
			</nav>
			{% if current_user.is_authenticated %}
			<p>
				Kirjautunut: {{ current_user.name }}
				<a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
			</p>
			{% else %}
				{% include "auth/loginform.html" %}
			{% endif %}
		</header>
		
		{% block body %}
		<p>
			Tähän tuodaan sisältö muualta.
		</p>
		{% endblock %}
	</body>
</html>
