{% extends "layout.html" %}

{% import 'status/status-selector.html' as status %}
{% import 'auth/user-selector.html' as auth %}

{% block body %}
	<h2>Kaikki ASTIAT</h2>
	<table>
		<tr>
			<th>Otsikko</th>
			<th>Kuvaus</th>
			<th>Luoja</th>
			<th>Vastuuhenkilö</th>
			<th>Status</th>	
		</tr>
		{% for astia in astias %}
		<tr>
			<td>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('astias_show', astia_id=astia.id) }}">{{ astia.title }}</a>
				{% else %}
				{{ astia.title }}
				{% endif %}
			</td>
			<td>{{ astia.description | markdown }}</td>
			<td>{{ astia.creator.name }}</td>
			<td>
					{% if current_user.is_authenticated %}
					<form action="{{ url_for('astias_set_assignee', astia_id=astia.id) }}" method="POST">
						{{ auth.selector(users, name='vastuuhenkilö', value=astia.status.id) }}
						<input type="submit" value="Tallenna vastuuhenkilö" />
					</form>
					{% else %}
					{{ astia.assignee.name }}
					{% endif %}
			</td>
			<td>
				{% if current_user.is_authenticated %}
				<form action="{{ url_for('astias_set_status', astia_id=astia.id) }}" method="POST">
					{{ status.selector(statuses, value=astia.status.id) }}
					<input type="submit" value="Tallenna status" />
				</form>
				{% else %}
				{{ astia.status.name }}
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>

	<h2>Oma tehtävälista</h2>

	{% for status in statuses %}
		<h3>{{status.name}}</h3>
		<ul>
			{% for astia in status.astias %}
			{% if not current_user.is_authenticated or current_user.id == astia.assignee_id %}
			<li>
				{% if current_user.is_authenticated %}
				<a href="{{ url_for('astias_show', astia_id=astia.id) }}">{{ astia.title }}</a>
				{% if status.id > 1 %}
				<form action={{ url_for('astias_set_status', astia_id=astia.id) }} method="POST">
					<input type="hidden" name="status" value="{{astia.status_id - 1}}" /><input type="submit" value="⬆" />
				</form>
				{% endif %}
				{% if status.id < statuses|length %}
				<form action={{ url_for('astias_set_status', astia_id=astia.id) }} method="POST">
					<input type="hidden" name="status" value="{{astia.status_id + 1}}" /><input type="submit" value="⬇" />
				</form>
				{% endif %}
				{% else %}
				{{ astia.title }}
				{% endif %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}

	<h2>Uusi ASTIA</h2>

	{% if current_user.is_authenticated %}
		{% include "astias/form.html" %}
	{% else %}
		<p>Kirjaudu sisään lisätäksesi ASTIOITA.</p>
	{% endif %}

	<h2>Käyttäjien tehtävämäärät</h2>

	<table>
		<tr>
			<th>Käyttäjä</th>
			<th>Tehtävien määrä</th>
		</tr>
		{% for count in counts %}
		<tr>
			<td>{{ count["name"] }}</td>
			<td>{{ count["count"] }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
